<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>

    <div id="container">

        <form action="/signup" method="POST">
            <input type="text" name="email" placeholder="Enter email" />
            <input type="password" name="password" placeholder="Enter password"/>
            <button>Sign Up</button>
            <% if(error.error == 1) { %>
                <p>User already exist</p>
            <% }else if(error.error == 2){ %>
                <p>Fields cannot be empty</p>
            <% } %>
        </form>

    </div>


    
</body>
</html>